# gastown-operator CI Pipeline - DEPRECATED
#
# This project has migrated to Tekton Pipelines.
# See deploy/tekton/ for the current CI/CD configuration.
#
# To run the Tekton pipeline manually:
#   oc create -f deploy/tekton/pipelinerun.yaml -n olympus-ci
#   tkn pipelinerun logs -f --last -n olympus-ci
#
# The pipeline stages are:
#   1. Clone source code
#   2. Parallel: go-test, trivy-fs scan, hadolint, build-gt-cli
#   3. Kaniko build + push to DPR
#   4. Trivy image scan + SBOM generation
#
# This file is kept for reference and to prevent GitLab from using
# Auto DevOps. Remove once Tekton EventListener triggers are configured.

# Disable all jobs - Tekton handles CI now
workflow:
  rules:
    - when: never

# Legacy reference (do not uncomment)
#
# variables:
#   DPR_REGISTRY: "dprusocplvjmp01.deepsky.lab:5000"
#   GO_IMAGE: "${DPR_REGISTRY}/ci-images/golang:1.24-alpine"
#   KANIKO_IMAGE: "${DPR_REGISTRY}/ci-images/kaniko:v1.23.2-debug"
#
# stages:
#   - test
#   - build
#   - security
#
# go:test:
#   stage: test
#   # ... migrated to deploy/tekton/tasks/go-test.yaml
#
# build:operator:
#   stage: build
#   # ... migrated to deploy/tekton/pipeline.yaml (jren-kaniko-build ClusterTask)
#
# security:trivy:
#   stage: security
#   # ... migrated to deploy/tekton/pipeline.yaml (jren-trivy-image ClusterTask)
