# This rule is not used by the project gastown-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants permissions to create, update, and delete resources within the gastown.gastown.io.
# This role is intended for users who need to manage these resources
# but should not control RBAC or manage permissions for others.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: gastown-operator
    app.kubernetes.io/managed-by: kustomize
  name: convoy-editor-role
rules:
- apiGroups:
  - gastown.gastown.io
  resources:
  - convoys
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gastown.gastown.io
  resources:
  - convoys/status
  verbs:
  - get
