{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "gastown-operator.fullname" . }}-manager-role
  labels:
    {{- include "gastown-operator.labels" . | nindent 4 }}
rules:
# CRD access
- apiGroups:
    - gastown.gastown.io
  resources:
    - rigs
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
    - gastown.gastown.io
  resources:
    - rigs/finalizers
  verbs:
    - update
- apiGroups:
    - gastown.gastown.io
  resources:
    - rigs/status
  verbs:
    - get
    - patch
    - update
- apiGroups:
    - gastown.gastown.io
  resources:
    - polecats
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
    - gastown.gastown.io
  resources:
    - polecats/finalizers
  verbs:
    - update
- apiGroups:
    - gastown.gastown.io
  resources:
    - polecats/status
  verbs:
    - get
    - patch
    - update
- apiGroups:
    - gastown.gastown.io
  resources:
    - convoys
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
    - gastown.gastown.io
  resources:
    - convoys/finalizers
  verbs:
    - update
- apiGroups:
    - gastown.gastown.io
  resources:
    - convoys/status
  verbs:
    - get
    - patch
    - update
# Witnesses
- apiGroups:
    - gastown.gastown.io
  resources:
    - witnesses
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
    - gastown.gastown.io
  resources:
    - witnesses/finalizers
  verbs:
    - update
- apiGroups:
    - gastown.gastown.io
  resources:
    - witnesses/status
  verbs:
    - get
    - patch
    - update
# Refineries
- apiGroups:
    - gastown.gastown.io
  resources:
    - refineries
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
    - gastown.gastown.io
  resources:
    - refineries/finalizers
  verbs:
    - update
- apiGroups:
    - gastown.gastown.io
  resources:
    - refineries/status
  verbs:
    - get
    - patch
    - update
# BeadStores
- apiGroups:
    - gastown.gastown.io
  resources:
    - beadstores
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
    - gastown.gastown.io
  resources:
    - beadstores/finalizers
  verbs:
    - update
- apiGroups:
    - gastown.gastown.io
  resources:
    - beadstores/status
  verbs:
    - get
    - patch
    - update
# Secrets (for git credentials)
- apiGroups:
    - ""
  resources:
    - secrets
  verbs:
    - get
    - list
    - watch
# Leader election
- apiGroups:
    - coordination.k8s.io
  resources:
    - leases
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
    - ""
  resources:
    - events
  verbs:
    - create
    - patch
{{- end }}
